// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination{
    span{
      padding-right: 10px;
      margin-left: 10px;
    }
    margin-left: 200px;
  }

  .user, .description {
    background-color: #E4EFE7
  }

  .post {
    border: solid;
  }